:root {
  --primary-color: #00d9ff;
  --secondary-color: #2584ff;
  --accent-color: #ff3400;
  --heading-color: #1b0760;
  --body-color: #918ca4;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--body-color);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--heading-color);
  margin-bottom: 2rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0px;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  body {
    font-size: 1.8rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  font-size: 2rem;
  color: var(--accent-color);
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 0.6rem;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  padding: 0.5rem 2rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 1.5em;
  white-space: nowrap;
  font-weight: 600;
}

.badge--primary {
  background: var(--primary-color);
}

.badge--secondry {
  background: var(--secondary-color);
}

.badge-small {
  font-size: 1.6rem;
}

/* Lists */

.list {
  list-style: none;
  color: var(--heading-color);
  padding-left: 0;
}

.inline--list .list__item {
  display: inline-block;
  margin-right: 5.6rem;
}

.tick-list {
  list-style: url("/assets/tick.svg");
  padding-left: 3rem;
}

.tick-list .list__item {
  padding-left: 0.6rem;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .tick-list .list__item {
    padding-left: 0px;
  }
}
/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--primary-color);
}

.icon-container {
  background: #f3f9fa;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
